.addBtn {
  width: 52px;
  height: 27px;
  border-radius: 32px;
  border: none;
  background-color: #242EDB;
  color: #fff;
  font-size: 24px;
}

.infoBtn {
  border-radius: 50%;
  color: gray;
  border: 2px solid gray;
  font-size: 24px;
  opacity: 0.5;
}